{% extends 'client/base.html' %}
<!-- divider  -->
{% load static %}
<!-- divider  -->
{% block content %}

<style>
  :root {
    --primary_color: #183f3c;
    --secondary_color: #ef962e;
    --headings_color: #222222;
    --secondary-headings: #717171;
    --secondary-page-background: #f9f7f2;
    --secondary-color: #717171;
    --heading-font: "Libre Baskerville", serif;
    --paragraph-font: "Figtree", sans-serif;
  }

  .container_padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .booking_card {
    background-color: var(--secondary-page-background);
    border-radius: 12px;
    width: 500px;
    max-width: 500px !important;
  }

  .price {
    color: var(--secondary_color);
  }

  .price_title {
    color: var(--primary_color);
    font-family: var(--heading-font);
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .night_title {
    font-size: 18px;
    color: var(--primary_color);
  }

  .cross_price {
    font-size: 18px;
    color: var(--primary_color);
    font-weight: 700;
    text-decoration: line-through;
  }

  .weekend_prices {
    font-size: 18px;
    color: var(--primary_color);
    font-weight: 700;
  }

  .weekend_prices_discount {
    font-size: 16px;
    color: var(--secondary_color);
  }

  .btn_reserve {
    background-color: var(--primary_color);
    color: var(--secondary-page-background);
    font-family: var(--paragraph-font);
  }

  .back_icon {
    font-size: 22px;
    color: var(--secondary-page-background);
  }

  /* partial style  */
  .form_fonts {
    color: var(--primary_color);
    font-family: var(--paragraph-font);
  }

  .edit_btn {
    border-color: var(--primary_color);
    color: var(--primary_color);
  }

  .btn_width {
    width: 100%;
  }

  .pararaph_text {
    color: var(--primary_color);
    font-family: var(--paragraph-font);
  }

  .form_fonts {
    color: var(--primary_color);
    font-family: var(--paragraph-font);
  }

  .primary_container {
    background-color: var(--primary_color);
  }

  .breakfast_title {
    font-family: var(--heading-font);
    font-size: 18px;
    color: var(--primary_color);
    font-weight: 700;
  }

  .breakfast_price {
    color: var(--primary_color);
    font-weight: 700;
    font-family: var(--paragraph-font);
  }

  .price_style {
    color: var(--secondary_color) !important;
  }
</style>

<div class="primary_container container_padding">
  <div class="container">
    <i
      class="bi bi-arrow-left-circle-fill back_icon"
      onclick="history.back()"
    ></i>
    <div class="d-flex justify-content-center">
      <div class="booking_card p-3 mt-5">
        {% if week_day == 'weekday' %}
        <h1 class="price_title mb-5">
          <span class="price">R{{room.room_prices.room_only}}</span>
          <span class="night_title">per night</span>
        </h1>
        <!-- <p class="mb-5" style="color: #183f3c">
          Friday, Saturday, Sunday price
          <span class="weekend_prices">R{{room.room_prices.room_weekend}}</span>
          <span class="weekend_prices_discount">per night</span>
        </p> -->
        {% else %}
        <h1 class="price_title mb-5">
          <span class="price">R{{room.room_prices.room_weekend}}</span>
          <span class="cross_price"
            >R{{room.room_prices.room_original_price}}</span
          >
          <span class="night_title">per night</span>
        </h1>
        {% endif %}

        <!-- Form submit  -->
        <div id="reserveDate">
          <form method="POST">
            {% csrf_token %}

            <div class="row">
              <div class="col">
                <div class="form-floating mb-3 form_container">
                  <input
                    type="date"
                    class="form-control form_container"
                    id="floatingInput"
                    placeholder="check in"
                    name="checkin"
                    hx-post="{% url 'breakfast' room.id %}"
                    hx-trigger="change"
                    hx-target="#breakfast"
                  />
                  <label for="floatingInput">Check in</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3 form_container">
                  <input
                    type="date"
                    class="form-control form_container"
                    id="floatingInput"
                    placeholder="check out"
                    name="checkout"
                    hx-post="{% url 'breakfast' room.id %}"
                    hx-trigger="change"
                    hx-target="#breakfast"
                  />
                  <label for="floatingInput">Check out</label>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                name="guest"
                value="{{room.people}}"
                id="floatingInput"
                placeholder="Guests"
                readonly
              />
              <label for="floatingInput">Guests</label>
            </div>

            <!-- ======= Breakfast Partial ======= -->
            <div id="breakfast">
              {% include 'partials/breakfastPartial.html' %}
            </div>

            <center>
              <button
                type="submit"
                class="btn btn_reserve mt-5 px-5 py-3"
                hx-post="{% url 'reserve' room.id%}"
                hx-target="#reserve"
                onclick="collectUserInfo(event)"
              >
                Reserve now
              </button>
            </center>
          </form>
          <hr class="my-5" />
        </div>
        <div id="reserve" style="display: none">
          {% include 'partials/cottageInfo.html' %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function collectUserInfo() {
    document.getElementById("reserve").style.display = "Block";
    document.getElementById("reserveDate").style.display = "None";
  }
</script>

<!-- divider  -->
{% endblock %}
