{% extends 'client/base.html' %}
<!-- divider  -->
{% load static %}
<!-- divider  -->
{% block content %}

<style>
  :root {
    --primary_color: #183f3c;
    --secondary_color: #ef962e;
    --headings_color: #222222;
    --secondary-headings: #717171;
    --secondary-page-background: #f9f7f2;
    --secondary-color: #717171;
    --heading-font: "Libre Baskerville", serif;
    --paragraph-font: "Figtree", sans-serif;
  }

  .secondary_container {
    background-color: var(--secondary-page-background);
  }

  .primary_container {
    background-color: var(--primary_color);
  }

  .contact_green_sub {
    color: var(--primary_color);
    font-family: var(--heading-font);
  }

  .contact_title {
    color: var(--primary_color);
    font-weight: 700;
    font-family: var(--heading-font);
  }

  .container_padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .contact_btn {
    background-color: var(--primary_color);
    color: var(--secondary-page-background);
    font-family: var(--heading-font);
  }

  .contact_image {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  .contact_heading {
    color: var(--secondary-page-background);
    font-family: var(--heading-font);
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .call_title {
    color: var(--secondary-page-background);
    font-family: var(--paragraph-font);
  }

  .line_deco {
    color: var(--secondary-page-background);
  }

  /* socials  */
  .social_icon {
    color: var(--secondary-page-background);
    font-size: 22px;
    margin-right: 10px;
  }

  .social_text {
    color: var(--secondary-page-background);
    font-size: 20px;
  }
</style>

<div class="secondary_container container_padding">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4 class="contact_green_sub">Inspired by you, alway</h4>
        <h1 class="contact_title">Connect with us</h1>
        <a href="tel:0120545495">
          <button class="btn contact_btn py-3 fw-bold px-5 my-5">
            Call Now
          </button>
        </a>
      </div>
      <div class="col-12 col-md-6">
        <img
          src="{% static '/images/ncholo1.png' %}"
          alt=""
          class="contact_image"
        />
      </div>
    </div>
  </div>
</div>

<div class="primary_container container_padding">
  <div class="container">
    <h3 class="contact_heading"><a href="tel:0120545495">012 054 5495</a></h3>
    <h5 class="call_title">Telephone</h5>
    <hr class="line_deco my-5" />
    <h3 class="contact_heading">
      <a href="mailto:bookings@sekgoeng.co.za">Bookings@sekgoeng.co.za</a>
    </h3>
    <h5 class="call_title">Email</h5>
    <hr class="line_deco my-5" />
    <h3 class="contact_heading">
      <a href="mailto:info@sekgoeng.co.za">Info@sekgoeng.co.za</a>
    </h3>
    <h5 class="call_title">Email</h5>
    <hr class="line_deco my-5" />

    <div class="mt-5">
      <h2 class="contact_heading">Find us</h2>
      <h5 class="call_title">Sekgoeng Cullinan Luxury Cottages</h5>
      <h5 class="call_title mb-3">
        Brandbach Gravel Road Brandbach Cullinan, 1000
      </h5>
      <div class="d-flex">
        <i class="bi bi-facebook social_icon"></i>
        <p class="social_text">Sekgoeng</p>
      </div>
      <a
        href="https://instagram.com/sekgoeng__?igshid=NTc4MTIwNjQ2YQ=="
        target="_blank"
      >
        <div class="d-flex">
          <i class="bi bi-instagram social_icon"></i>
          <p class="social_text">@Sekgoeng</p>
        </div>
      </a>
      <h5
        class="call_title mt-5 fw-bold"
        style="text-decoration: underline; font-size: 22px"
      >
        <a
          href="https://www.google.com/maps/place/Sekgoeng+-+Cullinan+Luxury+Cottages/@-25.6418089,28.6258084,17z/data=!3m1!4b1!4m9!3m8!1s0x1ebfff931ee10231:0xdcc3fbad6b988022!5m2!4m1!1i2!8m2!3d-25.6418089!4d28.6258084!16s%2Fg%2F11fd4y8ytj?entry=ttu"
          target="_blank"
          >Get Direction</a
        >
      </h5>
    </div>
  </div>
</div>

<!-- divider  -->
{% endblock %}
