{% extends 'client/base.html' %}
<!-- divider  -->
{% load static %}
<!-- divider  -->
{% block content %}

<div class="container mt-5" id="room-dates">
  <h3>
    Select <span class="fw-bold">check-in</span> and
    <span class="fw-bold">check-out</span> dates
  </h3>

  <form class="mt-5" method="POST">
    {% csrf_token %}
    <input type="text" name="roomID" value="{{room.id}}" hidden="True" />
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input
            type="date"
            class="form-control"
            id="floatingInput"
            name="checkIn"
            placeholder="Check in"
          />
          <label for="floatingInput">Check in</label>
        </div>
      </div>
      <!-- end item  -->
      <div class="col">
        <div class="form-floating mb-3">
          <input
            type="date"
            class="form-control"
            id="floatingInput"
            name="checkOut"
            placeholder="Check out"
          />
          <label for="floatingInput">Check out</label>
        </div>
      </div>
      <!-- end item  -->
      <div class="col">
        <select
          class="form-select"
          aria-label="Default select example"
          name="guests"
        >
          {% with num=room.people %}
          <!-- divider  -->
          {% for i in ""|rjust:num %}
          <option value="{{ forloop.counter }}">
            {{ forloop.counter }} Guests
          </option>
          {% endfor %}
          <!-- divder  -->
          {% endwith %}
        </select>
      </div>
      <!-- end input item  -->
    </div>
    <input type="text" name="uuid" value="" id="uuid-field" hidden />
    <center>
      <button
        hx-post="{% url 'room-availability-results' %}"
        hx-target="#roomCheckResults"
        class="btn btn-dark"
        onclick="getUUID(event)"
      >
        submit dates
      </button>
    </center>
  </form>

  <!-- ======= SHOW HTMX RESULTS ======= -->
  <div id="roomCheckResults" class="my-5">
    {% include 'BookRoomPartials/room_results.html' %}
  </div>
</div>

<!-- ======= Confirmation Details Check ======= -->
<div class="container mt-5" id="roomconfirmationDetails" style="display: none">
  {% include 'BookRoomPartials/roomConfirmation.html' %}
</div>

<script>
  function getUUID() {
    // Retrieve the UUID from localStorage
    const savedUUID = localStorage.getItem("uuid");

    // Check if a UUID exists in localStorage
    if (savedUUID) {
      // Set the retrieved UUID as the value of the input field
      document.getElementById("uuid-field").value = savedUUID;
    }
  }
</script>

<!-- divider  -->
{% endblock %}
